@import url("https://fonts.google.com/specimen/Nunito+Sans");

* {
  box-sizing: border-box;
}

:root {
  --background-el: hsl(0, 0%, 100%);
  --body: hsl(0, 0%, 98%);
}

body {
  background-color: var(--body);
  color: hsl(200, 15%, 8%);
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

body.dark {
  color: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(209, 23%, 22%);
}

header {
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  padding: 30px;
  position: relative;
}

h1 {
  margin: 0;
}

/* Theme button styling */
.btn-toggle {
  background-color: var(--background-el);
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 120px;
}

.btn-toggle .fas {
  display: none;
}

body.dark .btn-toggle .fas {
  display: inline-block;
}

body.dark .btn-toggle .far {
  display: none;
}

/* Input styling */
.search {
  background-color: var(--background-el);
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: inherit;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  padding: 20px;
  min-width: 300px;
}

.search::placeholder {
  color: inherit;
}

/* Dropdown styling */
.dropdown {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  position: relative;
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}

.dropdown ul {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 20px;
  position: absolute;
  top: 80%;
  left: 0;
  list-style-type: none;
  width: 100%;
  z-index: 1;
}

.dropdown.open ul {
  display: block;
}

.dropdown ul li {
  margin: 16px 0;
  font-weight: bold;

  font-size: 14px;
}

.sorted {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  position: relative;
}
/* Card styling */
.card {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  overflow: hidden;
  margin: 40px;
  max-width: 100%;
  width: 300px;
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  padding: 30px;
}

.card-body h3 {
  margin-top: 0;
}

.container.countries {
  margin-top: -40px;
  justify-content: center;
}

/* Modal Styling */
.modal {
  background-color: var(--body);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal .container {
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.modal img {
  max-width: 300px;
}

.modal-body {
  padding: 30px;
}

.btn-close {
  background-color: var(--background-el);
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.no-result {
  margin-left: 32px;
  font-weight: bold;
  color: rgb(84, 139, 187);
  display: none;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: rgb(27, 136, 127);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
